.App {
  width: 100%;
  max-width: 450px;
  height: 90vh;
  padding: 20px;
  margin: 20px auto;
  overflow: auto;
  border: 1px solid #f1f1f1;
  text-align: center;
  background-color: #ECEFF1
}
h5{
  display: block;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.chat-input{
  width: 100%;
  max-width: 450px;
  position: fixed;
  bottom: 0px;
  display: block;
  margin: 20px auto;
}
input{
  width: 70%;
  display: inline-block;
  padding: 10px;
}

button{
  width: 20%;
  display: inline-block;
  padding: 10px;
}