img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.App {
  width: 100%;
  max-width: 450px;
  height: 90vh;
  margin: 50px auto;
  border: 1px solid #ECEFF1;
  text-align: center;
  overflow: hidden;
  background-color: #ECEFF1;
  border-radius: 12px;
}


h4{
  font-size: 20px;
  line-height: 24px;
}
.leftbox{
  width: 90%;
    text-align: left;
    display: inline-block;
    float: left;
    padding: 10px;
        font-size: 16px;
  line-height: 22px;
  margin: 10px;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #fff;
  max-width: 200px;
  border-radius: 12px;

}
.rightbox{
  width: 90%;
    text-align: left;
    display: inline-block;
    float: right;
    padding: 10px;
        font-size: 16px;
  line-height: 22px;
  margin: 10px;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #fff;
  max-width: 200px;
  border-radius: 12px;

}
.chat-input{
  width: 100%;
  max-width: 450px;
  position: fixed;
  bottom: 50px;
  display: block;
  margin: 00px auto;

}
input{
  width: 100%;
  max-width: 340px;
  display: inline-block;
  margin: 17px 0 0 10px;
  padding: 12px;
  vertical-align: top;
   border-radius: 12px;
   border: 1px solid #ECEFF1;
   outline: 0px;
}

img{
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  cursor: pointer;
}

.author{
  font-weight: bold;
}

.chat-box{
  height: 75vh;
overflow: auto;
padding: 0px;
margin: 0px;
}

.chat-box::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.chat-box::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

@media only screen and (max-width: 470px) {
  .App {
    margin: 0px auto;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}
input{
  max-width: 300px;
}

.chat-input{
  bottom: 10px;
}
}

@media only screen and (max-width: 420px) {
input{
  max-width: 280px;
}
}

@media only screen and (max-width: 400px) {
input{
  max-width: 260px;
}
}

@media only screen and (max-width: 380px) {
input{
  max-width: 240px;
}
}

@media only screen and (max-width: 360px) {
input{
  max-width: 220px;
}
}

@media only screen and (max-width: 340px) {
input{
  max-width: 200px;
}
}

@media only screen and (max-width: 320px) {
input{
  max-width: 180px;
}
}

@media only screen and (max-width: 300px) {
input{
  max-width: 160px;
}
}